@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Syne:wght@400..800&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.navlink{
  font-family:  "Montserrat", sans-serif !important;
  color: #343F56 !important;
  text-decoration: none !important;
}

.pchide{
  display: none !important; 
}

.hero{
  background-image: url('/images/dzignStoryHeroGraphic.png');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.innerHero{
  height: 75vh;
}

.heroHeading{
  width: 50%;
}

.d-flex-mobile{
  display: flex;
  justify-content: center !important;
}
.pcnone{
  display: none !important;
}

.service{
  display: flex !important;
  justify-content: space-evenly !important;
  
}
.mobileOnly{
  display: none !important;
}
.pconly{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  
}
@media only screen and (max-width: 600px) {
  .pconly{
    display: none !important;
  }
  .center{
    text-align: center !important;
  }

  .margin{
    padding-left: 5% !important;
    padding-right: 5% !important;
  }

  .mobileOnly{
    display: block !important;
  }
  .service{
    display: none !important;
  }
  .pcnone{
    display: block !important;
  }
  .d-flex-mobile{
    display: flex;
    justify-content: left !important;
    margin-bottom: 2px;
  }
  .phoneHide{
    display: none;
  }
  .pchide{
    display: block !important;
  }
  .innerHero{
    height: 50vh;
    padding-inline: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .heroHeading{
    width: 100%;
  }
  .hero{
    background-image: none;
    height: 70vh;
  }
}

.mainHeading{
  font-family: "Syne";
  font-size: 38px ;
  color: #343F56 !important;
}

.subHeading{
  font-family: "Montserrat", sans-serif !important;
  color: #343F56 !important;
}

.inputLabel{
  font-family: "Montserrat", sans-serif !important;
  font-size: medium;

}

input{
  border: none ;
  background-color: #F1F1F1 !important;
  width: 100%;
  padding: 3%;
  font-family: "Montserrat light", sans-serif !important;
}

input::placeholder, textarea::placeholder {
  color: #989898;
  opacity: 1; /* Ensures full color visibility across browsers */
}

/* Optional: To handle Safari, use this */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #989898;
}


.slider-container {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  width: 100%;
}

.slider-track {
  display: flex;
  animation: scroll 600s linear infinite;
}

.slide {
  flex: 0 0 auto;
  margin: 0 10px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slider-container2 {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  width: 100%;
}

.slider-track2 {
  display: flex;
  animation: scroll2 600s linear infinite;
  transform: translateX(0);
}

.slide2 {
  flex: 0 0 auto;
  margin: 0 10px;
}

@keyframes scroll2 {
  from {
    transform: translateX(-100%); /* Start from the last image */
  }
  to {
    transform: translateX(0); /* Scroll to the right */
  }
}

.carousel-inner {
  display: flex;
  align-items: center;
  max-height: 300px; 
  overflow: hidden;
}

.carousel-item img {
  height: 100%;
  object-fit: contain;
}



/* marquee elements css */
.marquee-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  position: relative;
}

/* Shared Marquee Content */
.marquee-content {
  display: flex;
  flex-shrink: 0;
  min-width: 200%;
  animation: scroll-left 100s linear infinite;
}

.marquee-content-reverse {
  display: flex;
  flex-shrink: 0;
  min-width: 200%;
  animation: scroll-right 100s linear infinite;
}

/* Image Styling */
.marquee-content img, 
.marquee-content-reverse img {
  width: 180px;
  height: 130px;
  object-fit: contain;
  flex: none; /* Ensures they stay in line */
  margin-inline: 10px;
}

/* Left-to-Right Animation */
@keyframes scroll-left {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-50%);
  }
}

/* Right-to-Left Animation */
@keyframes scroll-right {
  from {
      transform: translateX(-30%);
  }
  to {
      transform: translateX(0);
  }
}